.child{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
  background: url("../public/assets/backgroundcat.jpg");
  background-size: cover;
  background-position: center;
};

.cats {
  max-height: 350px; 
  max-width: 80%;
  margin: auto;
  align-items:center;
}

